<nav>
  <ul style="list-style: none;">
    <li>
      <h1 style="text-align:center;" ><a href="/vehicles">Go Back to Vehicles List</a></h1>
    </li>
  </ul>
</nav>

<h1 style="text-align:center;">FORM TO UPDATE VEHICLE</h1>

<form style="text-align:center;" action="/vehicles/<%= @vehicle.id %>" method="post">
  <br>
  <br>
  <br>
  <br>

  <label for="manufacturer-select">Select Dealership</label>
  <select id="manufacturer-select" name="manufacturer_id">
    <option Selected Disabled>Select Manufacturer</option>
    <% for manufacturer in @manufacturers %>
    <option value=<%= manufacturer.id %>><%= manufacturer.name %></option>
    <% end %>
  </select>
  <br>
  <br>
  <br>
  <br>

  <label for="make">Make</label>
  <input type="text" name="make" id="make">
  <br>
  <br>
  <br>
  <br>

  <label for="model">Model</label>
  <input type="text" name="model" id="model">
  <br>
  <br>
  <br>
  <br>

  <label for="min-stock">Minimum Stock Level to Order At</label>
  <input type="text" name="min_stock" id="min-stock">
  <br>
  <br>
  <br>
  <br>

  <label for="quantity">Quantity</label>
  <input type="text" name="quantity" id="quantity">
  <br>
  <br>
  <br>
  <br>

  <label for="purchase-price">Purchase Price</label>
  <input type="text" name="purchase_price" id="purchase-price">
  <br>
  <br>
  <br>
  <br>

  <label for="selling-price">Selling Price</label>
  <input type="text" name="selling_price" id="selling-price">
  <br>
  <br>
  <br>
  <br>

  <label for="image">Image Link</label>
  <input type="text" name="image" id="image">
  <br>
  <br>
  <br>
  <br>

  <input type="submit" value="Update Vehicle">

</form>
