<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
  <nav>
    <ul style="list-style: none;">
        <div class="center">
          <li>
            <h1 style="text-align:center;" ><a href="/">Home</a></h1>
          </li>
          <li>
            <h1 style="text-align:center;" ><a href="/">Home</a></h1>
          </li>
          <li>
            <h1 style="text-align:center;" ><a href="/">Home</a></h1>
          </li>
          <li>
            <h1 style="text-align:center;" ><a href="/">Home</a></h1>
          </li>
        </div>
    </ul>
  </nav>
