<link rel="stylesheet" type="text/css" href="/styles/stylesheet2.css">
  <nav>
    <ul style="list-style: none;">
        <div class="center">
          <li>
            <h1 style="text-align:center;" ><a href="/manufacturers">View Manufacturers</a></h1>
          </li>
          <li>
            <h1 style="text-align:center;" ><a href="/vehicles">View Vehicles</a></h1>
          </li>
          <li>
            <h1 style="text-align:center;" ><a href="/inventory">View Inventory</a></h1>
          </li>
        </div>
    </ul>
  </nav>
