<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
<html>
<head>
  <title>Miah Motors Admin Portal</title>
  <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
</head>
<body>
  <%= yield %>
</body>
</html>
