<!DOCTYPE html>
<html>
<head>
  <title>Miah Motors Admin Portal</title>
</head>
<body>
  <nav>
    <ul style="list-style: none;">
      <li>
        <h3 style="text-align:center;" ><a href="/">Home</a></h3>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
