<nav>
  <ul style="list-style: none;">
    <li>
      <h1 style="text-align:center;" ><a href="/">Home</a></h1>
      <h1 style="text-align:center;" ><a href="/manufacturers/new">Add Manufacturer</a></h1>
    </li>
  </ul>
</nav>

<h1 style="text-align:center;">Manufacturers List</h1>
<% for manufacturer in @manufacturers %>
  <br>
  <h3 style="text-align:center;"> Name: <%= manufacturer.name %> </h3>
  <h3 style="text-align:center;"> Contact Number: <%= manufacturer.contact %> </h3>
  <h4 style="text-align:center;"> <a href="/manufacturers/<%= manufacturer.id %>">Show Manufacturer</a> </h4>
  <h4 style="text-align:center;"> <a href="/manufacturers/<%= manufacturer.id %>/edit">Edit Manufacturer</a> </h4>
  <br>
  <hr>
<% end %>
