<nav>
  <ul style="list-style: none;">
    <li>
      <h1 style="text-align:center;" ><a href="/manufacturers">Go Back to Manufacturers List</a></h1>
    </li>
  </ul>
</nav>

<h3 style="text-align:center;"> Name: <%= @manufacturer.name() %> </h3>
<h3 style="text-align:center;"> Contact Number: <%= @manufacturer.contact() %> </h3>
<form style="text-align:center;" action="/manufacturers/<%= @manufacturer.id() %>/delete" method="post">
  <input type="submit" value="Remove Manufacturer">
</form>
