body {
  background: url('/images/cullinan.jpg');
  background-size: 100%;
}

.center {
  margin: auto;
  padding: 150px;
}

a:link, a:visited {
  color: salmon;
  text-align: center;
  text-decoration: none;
}
