body{
  background-color: #E3F3FE;
}
.center {
  margin: auto;
  padding: 170px;
}

a:link, a:visited {
  background-color: #fefbd8;
  color: black;
  border: 1px solid salmon;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: dodgerblue;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid silver;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even){background-color: #fefbd8;}

tr:nth-child(odd){background-color: white;}

tr:hover {background-color: silver;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: dodgerblue;
  color: white;
}

.count td {color: red;}

/* #inventory_low {
  border-collapse: collapse;
  width: 70%;
}

#inventory_low td, th {
  border: 1px solid silver;
  padding: 8px;
  text-align: center;
  background-color: #ff9999;
  font-weight: bold;
}

#inventory_low tr:hover {background-color: silver;}

#inventory_low th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: 	dodgerblue;
  color: white;
} */
