<nav>
  <ul style="list-style: none;">
    <li>
      <h1 style="text-align:center;" ><a href="/inventory">Go Back to Inventory List</a></h1>
    </li>
  </ul>
</nav>

<h1>Add to Inventory</h1>

<form action="/inventory" method="post">
  <label>
    Select Vehicle to Add to Inventory:
    <select name="vehicle_id">
      <% for vehicle in @vehicles %>
      <option value="<%= vehicle.id %>"> <%= vehicle.get_dealership_name %> <%= vehicle.make %> <%= vehicle.model %></option>
      <% end %>
    </select>
  </label>

  <input type='submit' value="Add">
</form>
